<!-- <p>1 + 1  {{ name }}</p> -->

<!-- <img [src]="imgUrl"> -->
<!-- <input type="text" [value]="inputValue">
<span [innerText] = "name" > </span>

<button (click)="getname()">click me</button> -->
<!-- <input [(ngModel)]="enterName"  /> 

{{enterName}} -->

<!-- 
<h5>Two way binding (without ngModel directive) Example</h5>  
Enter you Name: <input  #txtName  type = "text"  (keyup)="0" />  
<br/><br/>  
<span> WelCome {{txtName}} ! </span>  -->
<!-- <button (click)="getname()">click me</button> -->

<!-- 
<button (click)="changeme()">Click me</button>

<h1 *ngIf="show">Hello</h1>
<h2 [hidden]="show">hello 2</h2> -->

<!-- <div *ngFor="let n of names;let i = index">
    <p>{{ i + 1}} {{n}}</p>
</div> -->

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">...red</div>
    <div *ngSwitchCase="'green'">...green</div>
    <div *ngSwitchCase="'blue'">...blue</div>
    <div *ngSwitchDefault>...no color</div>
</div>


